%textShadow {
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

%sectionMarginBottom {
  margin-bottom: $sectionSpace;

  @include sm {
    margin-bottom: 2rem;
  }
}

%grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: $itemSpace;
  transition: all 1s;
}

.main__slide {
  background-image: url("../assets/images/slide2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @extend %sectionMarginBottom;
}

.slide {
  @include flex(column);
  padding-top: 14rem;
  padding-bottom: 14rem;
  color: $white;
  position: relative;

  @include lg {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  @include md {
    padding-top: 5rem;
    padding-bottom: 10rem;
  }

  &__brand {
    font-family: $font2;
    font-size: 6.6rem;
    font-weight: bold;
    margin-bottom: 4.5rem;
    @extend %textShadow;

    @include lg {
      font-size: 5rem;
    }

    @include md {
      font-size: 3.5rem;
    }
  }

  &__content {
    @include flex(column);
    margin-bottom: 3.5rem;
    text-align: center;

    .content__title {
      font-family: $font4;
      font-size: 10.374rem;
      line-height: 10.374rem;
      @extend %textShadow;

      @include lg {
        font-size: 9rem;
      }

      @include md {
        font-size: 6rem;
        line-height: 8rem;
      }
    }

    .content__sub-title {
      font-size: 1.8rem;
      font-family: $font3;
      @extend %textShadow;

      @include md {
        font-size: 1.4rem;
      }
    }
  }

  &__button {
    position: absolute;
    bottom: 5rem;

    .cirle-button {
      margin: 0 0.5rem;
      padding: 0.7rem;
      border: none;
      outline: none;
      background-color: $white;
      border-radius: 50%;

      &--active {
        background-color: $greenMedium;
      }
    }
  }
}

.main__hot-products {
  @extend %sectionMarginBottom;
}

.hot-products-list {
  @extend %grid4;
  grid-template-rows: 35rem 23rem 35rem;
  margin-top: 4rem;

  @include sm {
    margin-top: 2.5rem;
  }

  @include lg {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 58.2rem 39.5rem 39.5rem 58.2rem;
  }

  @include sm {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 48.2rem 29.5rem 29.5rem 48.2rem;
    grid-gap: 1.5rem;
  }

  .product-item {
    &:nth-child(1) {
      grid-column: 1/3;
      grid-row: 1/3;

      @include lg {
        grid-column: 1/3;
        grid-row: 1/2;
      }
    }

    &:nth-child(6) {
      grid-row: 2/4;
      grid-column: 3/5;

      @include lg {
        grid-column: 1/3;
        grid-row: 4/5;
      }
    }

    &:nth-child(1),
    &:nth-child(6) {
      .product-thumbnail {
        flex-direction: row;
      }
    }
  }
}

.main__other-products {
  @extend %sectionMarginBottom;

  .main-content {
    @extend %grid4;

    @include sm {
      grid-gap: 2rem;
    }

    .section-title {
      margin-bottom: 3rem;
    }

    .best-sale-products {
      grid-column: 1/2;

      @include lg {
        grid-column: 1/5;
      }

      .products-list {
        @include flex(column);

        .product-item {
          padding: 0 2.5rem;
          width: 100%;
          border: 1px solid $gray0;
          border-bottom: none;
          height: 12.2rem;
          @include flex($justifyContent: flex-start);

          &:last-child {
            border-bottom: 1px solid $gray0;
          }

          &__left img {
            max-width: 7.6rem;
          }

          &__right {
            flex-grow: 1;
            @include flex(column, center, flex-start);
            margin-left: 1.5rem;

            .product-name {
              margin-bottom: 0.5rem;

              a {
                font-size: 1.4rem;
              }
            }

            .product-star-list {
              margin-bottom: 0.5rem;

              i {
                font-size: 1.2rem;
              }
            }

            .product-price--new {
              font-size: 1.4rem;
            }
          }
        }
      }
    }

    .discount-products {
      grid-column: 2/5;

      @include lg {
        grid-column: 1/5;
      }

      .discount-products-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: $itemSpace;
        transition: all 1s;

        @include lg {
          grid-template-columns: 1fr 1fr;
          grid-gap: 1.5rem;
        }

        .product-item {
          height: 35rem;
        }
      }
    }
  }
}

.main__banner {
  @extend %sectionMarginBottom;

  .banner__background {
    @include flex($justifyContent: flex-end);
    background-image: url("../assets/images/banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding: 2rem 3rem;

    .banner__title {
      @include flex(column);
      color: $white;
      height: 100%;
      border: 3px solid $white;
      padding: 2.5rem 6rem;
      margin: 0;

      @include md {
        padding: 2.5rem 3rem;
      }

      span {
        font-family: $font2;
        font-weight: bold;
        text-align: center;
        @extend %textShadow;

        &:first-child {
          font-size: 4.572rem;

          @include md {
            font-size: 3.572rem;
          }
        }

        &:last-child {
          font-size: 6.672rem;

          @include md {
            font-size: 3.572rem;
          }
        }
      }
    }
  }
}

.main__new-products {
  @extend %sectionMarginBottom;

  .new-products-list {
    @extend %grid4;
    margin-top: 4rem;
    transition: all 1s;

    @include lg {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1.5rem;

      .product-thumbnail {
        flex-direction: column;

        a {
          margin: 0.5rem 0.6rem;
        }
      }

      .product-note {
        display: none;
      }
    }

    @include sm {
      grid-template-columns: 1fr 1fr;
      margin-top: 3rem;
    }

    .product-item {
      height: 35rem;
    }
  }
}

.main__news {
  @extend %sectionMarginBottom;

  .news-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $itemSpace;
    margin-top: 4rem;

    @include lg {
      grid-template-columns: 1fr 1fr;
    }

    @include sm {
      grid-template-columns: 1fr;
    }

    .news-item {
      @include flex(column);

      &__top img {
        width: 100%;
      }

      &__bottom {
        @include flex(column, center, flex-start);
        flex-grow: 1;
        padding: 1.5rem;

        .news-date {
          font-size: 1.2rem;
          color: $gray9;
          margin-bottom: 2rem;
          display: block;
        }

        .news-title {
          margin-bottom: 2rem;

          a {
            font-size: 1.4rem;
            color: $greenBold;
            transition: 0.3s;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .news-description {
          margin-bottom: 2rem;
          font-size: 1.2rem;
          color: $gray2;
        }

        .news-read-more {
          font-size: 1.2rem;
          color: $greenMedium;
          font-style: italic;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

#popup-checkbox {
  display: none;

  &:checked ~ .home-popup {
    opacity: 0;
    visibility: hidden;

    .popup-content {
      animation-name: popupAnimHide;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
  }
}

.home-popup {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  opacity: 1;
  visibility: visible;
  z-index: 2;
  transition: 1s;

  .popup-content {
    @include absoluteCenter(x);
    animation-name: popupAnimShow;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    background-color: $white2;
    display: inline-block;
    padding: 1.5rem;
    transition: 1s;

    &__head {
      @include flex;
      justify-content: flex-end;

      label {
        cursor: pointer;
        color: $greenMedium;
        font-size: 1.8rem;
        line-height: 1;
      }
    }

    &__body {
      @include flex;
      padding: 5rem 0;

      @include lg {
        flex-direction: column;
      }

      @include sm {
        padding: 1rem 0;
      }

      &-left {
        @include flex;

        @include lg {
          margin-bottom: 3rem;
        }

        @include sm {
          img {
            width: 100%;
          }
        }
      }

      &-right {
        align-self: stretch;
        padding-right: 2.5rem;
        width: 43rem;

        @include lg {
          padding: 0 1.5rem;
        }

        @include sm {
          width: 100%;
          padding: 0 1rem;
        }

        .popup-title {
          .sub-title {
            font-size: 3.7rem;
            font-family: $font4;

            @include sm {
              font-size: 3rem;
            }
          }

          .main-title {
            color: $greenMedium;
            display: block;
            font-size: 2.3rem;
            font-weight: bold;
            margin-top: 0.5rem;
            margin-bottom: 3rem;

            @include sm {
              font-size: 2rem;
              margin-bottom: 2rem;
            }
          }
        }

        .subscribe-form {
          height: 4.4rem;
          margin-bottom: 1.5rem;

          @include sm {
            input {
              font-size: 1.2rem;
            }
          }
        }

        .popup-description {
          color: $gray2;
          font-family: $font3;
          font-size: 1.4rem;
          margin-bottom: 3.5rem;

          @include sm {
            font-size: 1.2rem;
            margin-bottom: 2rem;
          }
        }

        .never-appear {
          @include flex;
          justify-content: flex-start;

          input {
            border: 1px solid $gray10;
            outline: none;
          }

          label {
            color: $gray2;
            font-size: 1.4rem;
            font-family: $font3;
            margin-left: 1rem;
          }
        }
      }
    }
  }
}

@keyframes popupAnimShow {
  from {
    top: 0;
    transform: translateX(-50%) translateY(-100%);
  }
  to {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes popupAnimHide {
  from {
    opacity: 1;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
  to {
    opacity: 0;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0);
  }
}
