-
    const bestSaleProducts = [
        {
            name: 'Cây chân chim',
            price: '250.000',
            star: 4,
            image: 'spx2-10',
            link: 'product-detail.html'
        },
        {
            name: 'Cây Dạ Lam',
            price: '150.000',
            star: 3,
            image: 'spx2-9',
            link: 'product-detail.html'
        },
        {
            name: 'Cây Danh Dự',
            price: '450.000',
            star: 4,
            image: 'spx2-15',
            link: 'product-detail.html'
        },
        {
            name: 'Cây đa búp đỏ',
            price: '200.000',
            star: 4,
            image: 'spx2-12',
            link: 'product-detail.html'
        },
        {
            name: 'Cây cọ ta',
            price: '300.000',
            star: 5,
            image: 'spx2-5',
            link: 'product-detail.html'
        },
        {
            name: 'Cây dứa nhỏ',
            price: '275.000',
            star: 3,
            image: 'spx2-6',
            link: 'product-detail.html'
        },
    ]