-
    const cartTableProducts = [
        {
            name: 'CÂY VĂN PHÒNG',
            price: '270.000',
            amount: 1,
            image: 'spx2-1.png'
        },
        {
            name: 'CÂY VĂN PHÒNG',
            price: '270.000',
            amount: 1,
            image: 'spx2-1.png'
        },
        {
            name: 'CÂY VĂN PHÒNG',
            price: '270.000',
            amount: 1,
            image: 'spx2-1.png'
        },
    ]