-
    const chanels = [
        {
            name: "facebook",
            icon: "lab la-facebook-f"
        },
        {
            name: "twitter",
            icon: "lab la-twitter"
        },
        {
            name: "youtube",
            icon: "fab la-youtube"
        },
        {
            name: "vimeo",
            icon: "lab la-vimeo-v"
        }
    ]