-
    const discountProducts = [
        {
            name: 'Cây Danh Dự',
            price: '450.000',
            oldPrice: '300.000',
            star: 4,
            image: 'spx2-15.png',
            note: '-25%',
            link: 'product-detail.html'
        },
        {
            name: 'Cây dứa nhỏ',
            price: '650.000',
            oldPrice: '500.000',
            star: 3,
            image: 'spx2-12.png',
            note: '-10%',
            link: 'product-detail.html'
        },
        {
            name: 'Cây cọ ta',
            price: '760.000',
            oldPrice: '300.000',
            star: 5,
            image: 'spx2-11.png',
            note: '',
            link: 'product-detail.html'
        },
        {
            name: 'Cây Da Lam',
            price: '150.000',
            oldPrice: '550.000',
            star: 3,
            image: 'spx2-2.png',
            note: '',
            link: 'product-detail.html'
        },
        {
            name: 'Cây Danh Dự',
            price: '300.000',
            oldPrice: '350.000',
            star: 5,
            image: 'spx2-8.png',
            note: '',
            link: 'product-detail.html'
        },
        {
            name: 'Cây dứa nhỏ',
            price: '375.000',
            oldPrice: '500.000',
            star: 4,
            image: 'spx2-1.png',
            note: '',
            link: 'product-detail.html'
        },
    ]