-
    const footerList = [
        {
            title: "THÔNG TIN KHÁCH HÀNG",
            responsive: "col-12 col-sm-6 col-lg-4",
            children: [
                {
                    title: "Tài khoản của tôi",
                    link: "#"
                },
                {
                    title: "Sản phẩm yêu thích",
                    link: "#"
                },
                {
                    title: "Lịch sử mua hàng",
                    link: "#"
                },
                {
                    title: "Chính sách đổi trả",
                    link: "#"
                },
                {
                    title: "Góp ý, khiếu nại",
                    link: "#"
                },
            ]
        },
        {
            title: "HỖ TRỢ DỊCH VỤ",
            responsive: "col-12 col-sm-6 col-lg-3",
            children: [
                {
                    title: "Hệ thống cửa hàng",
                    link: "#"
                },
                {
                    title: "Hướng dẫn mua hàng",
                    link: "#"
                },
                {
                    title: "Hướng dẫn thanh toán",
                    link: "#"
                },
                {
                    title: "Tích điểm đổi quà",
                    link: "#"
                },
                {
                    title: "Câu hỏi thường gặp",
                    link: "#"
                },
            ]
        },
        {
            title: "CHÍNH SÁCH ƯU ĐÃI",
            responsive: "col-12 col-sm-6 col-lg-3",
            children: [
                {
                    title: "Chính sách giao hàng",
                    link: "#"
                },
                {
                    title: "Chính sách đổi trả sản phẩm",
                    link: "#"
                },
                {
                    title: "Chính sách bảo hành",
                    link: "#"
                },
                {
                    title: "Giới thiệu sản phẩm mới",
                    link: "#"
                },
                {
                    title: "Chính sách trả góp",
                    link: "#"
                }
            ]
        },
        {
            title: "TIN TỨC",
            responsive: "col-12 col-sm-6 col-lg-2",
            children: [
                {
                    title: "Tin tức",
                    link: "#"
                },
                {
                    title: "Khuyến mại",
                    link: "#"
                },
                {
                    title: "Tuyển dụng",
                    link: "#"
                },
                {
                    title: "Download",
                    link: "#"
                },
                {
                    title: "Tags",
                    link: "#"
                }
            ]
        },
    ]