-
    const signupForm = {
        userInfo: [
            {
                title: 'Họ và tên',
                name: 'username',
                type: 'text',
                required: true
            },
            {
                title: 'Số điện thoại',
                name: 'phone-number',
                type: 'text',
                required: true
            },
            {
                title: 'Địa chỉ email',
                name: 'email',
                type: 'email',
                required: true
            },
            {
                title: 'Website của bạn',
                name: 'website',
                type: 'text',
                required: true
            },
        ],
        accountInfo: [
            {
                title: 'Mật khẩu',
                name: 'password',
                type: 'password',
                required: true
            },
            {
                title: 'Nhập lại mật khẩu',
                name: 'password-confirm',
                type: 'password',
                required: true
            },
        ]
    }

    const signinForm = {
        accountInfo: [
            {
                title: 'Email của bạn',
                name: 'email',
                type: 'email',
                required: false
            },
            {
                title: 'Mật khẩu',
                name: 'password',
                type: 'password',
                required: false
            },
        ]
    }
    