-
    const hotProducts = [
        {
            name: 'Cây chân chim',
            price: '250.000',
            oldPrice: '300.000',
            star: 4,
            image: 'spx2-4.png',
            note: 'NEW'
        },
        {
            name: 'Cây Dạ Lam',
            price: '250.000',
            oldPrice: '500.000',
            star: 3,
            image: 'spx2-5.png',
            note: '-50%'
        },
        {
            name: 'Cây danh dự',
            price: '850.000',
            oldPrice: '300.000',
            star: 5,
            image: 'spx2-15.png',
            note: 'NEW'
        },
        {
            name: 'Cây cọ ta',
            price: '250.000',
            oldPrice: '100.000',
            star: 3,
            image: 'spx2-11.png',
            note: ''
        },
        {
            name: 'Cây dứa nhỏ',
            price: '375.000',
            oldPrice: '500.000',
            star: 4,
            image: 'spx2-6.png',
            note: ''
        },
        {
            name: 'Cây đa búp đỏ',
            price: '175.000',
            oldPrice: '700.000',
            star: 5,
            image: 'spx2-3.png',
            note: '-50%'
        },
    ]