-
    const icons = {
        user: "fas fa-user",
        userPlus: "fas fa-user-plus",
        phone: "fas fa-phone-alt",
        search: "fas fa-search",
        bag: "bi bi-basket-fill",
        menu: "fas fa-bars",
        downArrow: "fas fa-caret-down"
    }