-
    const icons = {
        user: "fas fa-user",
        userPlus: "fas fa-user-plus",
        phone: "fas fa-phone-alt",
        search: "fas fa-search",
        bag: "bi bi-basket-fill",
        menu: "fas fa-bars",
        downArrow: "fas fa-caret-down",
        plane: "fas fa-paper-plane",
        mobile: "fas fa-mobile-alt",
        email: "far fa-envelope",
        arrowLeft: "fas fa-angle-left",
        arrowRight: "fas fa-angle-right",
        list: "fas fa-th-list",
        grid: "fas fa-th",
        star: "fas fa-star",
        heart: "fas fa-heart",
        facebook: "fab fa-facebook-square",
        google: "fab fa-google-plus-g",
        twitter: "fab fa-twitter",
        plus: "fas fa-plus-square",
        trash: "far fa-trash-alt"
    }