-
    const navList = [
        {
            title: "TRANG CHỦ",
            link: "#",
            children: null,
            active: true
        },
        {
            title: "GIỚI THIỆU",
            link: "#",
            children: null,
            active: false
        },
        {
            title: "SẢN PHẨM",
            link: "products.html",
            children: [
                {
                    title: "Cây chậu treo",
                    link: "#"
                }, 
                {
                    title: "Cây có hoa",
                    link: "#"
                }, 
                {
                    title: "Cây dây leo",
                    link: "#"
                }, 
                {
                    title: "Cây để bán",
                    link: "#"
                }, 
                {
                    title: "Cây may mắn",
                    link: "#"
                }, 
                {
                    title: "Cây trang trí",
                    link: "#"
                }, 
                {
                    title: "Cây nội thất",
                    link: "#"
                },          
            ],
            active: false,
        },
        {
            title: "SẢN PHẨM MỚI",
            link: "#",
            children: [
                {
                    title: "Cây lan thường",
                    link: "#"
                }, 
                {
                    title: "Cây lan đột biến",
                    link: "#"
                }, 
                {
                    title: "Cây quý hiếm",
                    link: "#"
                }, 
            ],
            active: false,
        },
        {
            title: "TIN TỨC",
            link: "news.html",
            children: null,
            active: false
        },
        {
            title: "LIÊN HỆ",
            link: "#",
            children: null,
            active: false
        },
    ]