-
    const navList = [
        {
            title: "TRANG CHỦ",
            link: "#",
            icon: false,
            active: true
        },
        {
            title: "GIỚI THIỆU",
            link: "#",
            icon: false,
            active: false
        },
        {
            title: "SẢN PHẨM",
            link: "#",
            icon: true,
            active: false
        },
        {
            title: "SẢN PHẨM MỚI",
            link: "#",
            icon: true,
            active: false
        },
        {
            title: "TIN TỨC",
            link: "#",
            icon: false,
            active: false
        },
        {
            title: "LIÊN HỆ",
            link: "#",
            icon: false,
            active: false
        },
    ]