-
    const productCategory = [
        {
            title: 'Cây chậu treo (10)',
            link: '#'
        },
        {
            title: 'Cây có hoa (5)',
            link: '#'
        },
        {
            title: 'Cây dây leo',
            link: '#'
        },
        {
            title: 'Cây để bàn',
            link: '#'
        },
        {
            title: 'Cây may mắn',
            link: '#'
        },
        {
            title: 'Cây trang trí',
            link: '#'
        },
        {
            title: 'Cây nội thất',
            link: '#'
        }
    ]

    const priceRange = [
        {
            title: '200.000 Đ - 400.000 Đ',
            link: '#'
        },
        {
            title: '400.000 Đ - 600.000 Đ',
            link: '#'
        },
        {
            title: '600.000 Đ - 800.000 Đ',
            link: '#'
        },
        {
            title: '800.000 Đ - 1.000.000 Đ',
            link: '#'
        },
        {
            title: '1.000.000 Đ - 2.000.000 Đ',
            link: '#'
        }
    ]

    const colors = [
        {
            title: 'Xanh cây',
            class: 'green-color',
            link: '#'
        },
        {
            title: 'Đỏ cảm',
            class: 'orange-color',
            link: '#'
        },
        {
            title: 'Tím',
            class: 'purple-color',
            link: '#'
        },
        {
            title: 'Xanh trời',
            class: 'blue-color',
            link: '#'
        },
        {
            title: 'Vàng',
            class: 'yellow-color',
            link: '#'
        },
        {
            title: 'Hồng',
            class: 'pink-color',
            link: '#'
        },
    ]

    const hotNews = [
        {
            title: 'Hướng dẫn lựa chọn và bố trí cây xanh trong phòng khách',
            image: 'news1.png',
            link: '#'
        },
        {
            title: 'Những sai lầm nên tránh khi bố trí cây xanh trong nhà',
            image: 'news2.png',
            link: '#'
        },
        {
            title: '7 loại cây xanh để bàn đang được giới văn phòng ưa chuộng',
            image: 'news3.png',
            link: '#'
        },
        {
            title: 'Hướng dẫn lựa chọn cây cảnh trang trí trong văn phòng',
            image: 'news4.png',
            link: '#'
        },
        {
            title: '4 loại cây cảnh thích hợp bày trí ở khu vực đại sảnh',
            image: 'news5.png',
            link: '#'
        },
    ]

    const blogTags = [
        {
            title: 'Cây văn phòng',
            link: '#'
        },
        {
            title: 'Cây phát lộc',
            link: '#'
        },
        {
            title: 'Cây xanh',
            link: '#'
        },
        {
            title: 'Cây trang trí',
            link: '#'
        },
        {
            title: 'Cây',
            link: '#'
        },
        {
            title: 'Plants',
            link: '#'
        },
        {
            title: 'Sức khỏe',
            link: '#'
        },
        {
            title: 'Quà tặng',
            link: '#'
        },
        {
            title: 'Lưu niệm',
            link: '#'
        },
    ]