-
    const productCategory = [
        {
            title: 'Cây chậu treo (10)',
            link: '#'
        },
        {
            title: 'Cây có hoa (5)',
            link: '#'
        },
        {
            title: 'Cây dây leo',
            link: '#'
        },
        {
            title: 'Cây để bàn',
            link: '#'
        },
        {
            title: 'Cây may mắn',
            link: '#'
        },
        {
            title: 'Cây trang trí',
            link: '#'
        },
        {
            title: 'Cây nội thất',
            link: '#'
        }
    ]

    const priceRange = [
        {
            title: '200.000 Đ - 400.000 Đ',
            link: '#'
        },
        {
            title: '400.000 Đ - 600.000 Đ',
            link: '#'
        },
        {
            title: '600.000 Đ - 800.000 Đ',
            link: '#'
        },
        {
            title: '800.000 Đ - 1.000.000 Đ',
            link: '#'
        },
        {
            title: '1.000.000 Đ - 2.000.000 Đ',
            link: '#'
        }
    ]

    const colors = [
        {
            title: 'Xanh cây',
            class: 'green-color',
            link: '#'
        },
        {
            title: 'Đỏ cảm',
            class: 'orange-color',
            link: '#'
        },
        {
            title: 'Tím',
            class: 'purple-color',
            link: '#'
        },
        {
            title: 'Xanh trời',
            class: 'blue-color',
            link: '#'
        },
        {
            title: 'Vàng',
            class: 'yellow-color',
            link: '#'
        },
        {
            title: 'Hồng',
            class: 'pink-color',
            link: '#'
        },
       
    ]