-
    const socialNetworks = [
        {
            name: "facebook",
            icon: "lab la-facebook-f"
        },
        {
            name: "twitter",
            icon: "lab la-twitter"
        },
        {
            name: "tumblr",
            icon: "fab la-tumblr"
        },
        {
            name: "vimeo",
            icon: "lab la-vimeo-v"
        }
    ]