extends ../common/base.pug

block variables
    include ../common/variables/hot-products
    include ../common/variables/best-sale-products
    include ../common/variables/discount-products
    include ../common/variables/new-products
    include ../common/variables/news
block title 
    title Home
block content
    main.main 
        section.main__slide 
            .main-content.slide 
                h2.slide__brand GREEN SHOP
                P.slide__content 
                    span.content__title CHO THUÊ CÂY CẢNH TẾT 2016
                    i.content__sub-title ( Miễn phí vận chuyện với những đơn hàng có trị giá trên 5.000.000 )
                .slide__detail
                    +button('Xem chi tiết')
                .slide__button 
                    button.cirle-button.cirle-button--active
                    button.cirle-button
                    button.cirle-button
        section.main__hot-products
            .main-content.hot-products
                +sectionTitle('Sản phẩm nổi bật') 
                ul.hot-products-list 
                    each item in hotProducts 
                        +productItem(item)
        section.main__other-products
            .main-content
                .best-sale-products
                    +sectionTitle('Sản phẩm mua nhiều') 
                    ul.products-list 
                        each item in bestSaleProducts 
                            +bestSaleProductItem(item)
                .discount-products
                    +sectionTitle('Sản phẩm khuyến mại', true)
                    ul.discount-products-list
                        each item in discountProducts 
                            +productItem(item)
        section.main__banner  
            .main-content 
                .banner__background 
                    h4.banner__title 
                        span SƯƠNG RỒNG
                        br
                        span ĐÀ LẠT
        section.main__new-products 
            .main-content
                +sectionTitle('Sản phẩm mới', true) 
                ul.new-products-list
                    each item in newProducts 
                        +productItem(item)
        section.main__news 
            .main-content 
                +sectionTitle('Tin tức')
                ul.news-list 
                    each item in news 
                        +newsItem(item)