extends ../common/base.pug

block variables
    include ../common/variables/hot-products
    include ../common/variables/best-sale-products
    include ../common/variables/discount-products
    include ../common/variables/new-products
    include ../common/variables/news
block title 
    title Home
block content
    main.main 
        section.main__slide 
            .main-content.slide 
                h2.slide__brand GREEN SHOP
                P.slide__content 
                    span.content__title CHO THUÊ CÂY CẢNH TẾT 2016
                    i.content__sub-title ( Miễn phí vận chuyện với những đơn hàng có trị giá trên 5.000.000 )
                .slide__detail
                    +button('Xem chi tiết')
                .slide__button 
                    button.cirle-button.cirle-button--active
                    button.cirle-button
                    button.cirle-button
        section.main__hot-products
            .main-content.hot-products
                +sectionTitle('Sản phẩm nổi bật') 
                ul.hot-products-list 
                    each item in hotProducts 
                        +productItem(item)
        section.main__other-products
            .main-content
                .best-sale-products
                    +sectionTitle('Sản phẩm mua nhiều') 
                    ul.products-list 
                        each item in bestSaleProducts 
                            +bestSaleProductItem(item)
                .discount-products
                    +sectionTitle('Sản phẩm khuyến mại', true)
                    ul.discount-products-list
                        each item in discountProducts 
                            +productItem(item)
        section.main__banner  
            .main-content 
                .banner__background 
                    h4.banner__title 
                        span SƯƠNG RỒNG
                        br
                        span ĐÀ LẠT
        section.main__new-products 
            .main-content
                +sectionTitle('Sản phẩm mới', true) 
                ul.new-products-list
                    each item in newProducts 
                        +productItem(item)
        section.main__news 
            .main-content 
                +sectionTitle('Tin tức')
                ul.news-list 
                    each item in news 
                        +newsItem(item)
    input(type="checkbox" id="popup-checkbox")
    .home-popup
        .popup-content 
            .popup-content__head
                label(for="popup-checkbox") X
            .popup-content__body
                .popup-content__body-left 
                    img(src="./assets/images/popup-img.png", alt="popup flower")
                .popup-content__body-right
                    h3.popup-title 
                        span.sub-title Nhận tin tức từ chúng tôi
                        br
                        span.main-title ĐĂNG KÝ EMAIL NGAY HÔM NAY
                    .subscribe-form
                        input(type="text" placeholder="Nhập email của bạn vào đây")
                        a(href="#") 
                            i(class=icons.plane)
                    p.popup-description Đăng ký email ngay hôm nay để nhận các thông tin về sự kiện và các trương chình giảm giá từ chúng tôi
                    .never-appear
                        input(type="checkbox" id="never-appear-checkbox")
                        label(for="never-appear-checkbox") Không hiển thị lại thông báo này nữa