.sidebar-list {
    margin: 1.5rem 0;
    
    @include lg {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2rem;
    }

    @include sm {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
    }

    &--price {
        @include sm {
            grid-template-columns: 1fr;
        }
    }

    .sidebar-item {
        font-family: $font3;
        padding: 1rem 0;
        border-bottom: 1px solid $gray10;

        i {
            color: $gray2;
            margin-right: .5rem;
        }
        
        a {
            color: $gray2;
            font-size: 1.2rem;
            transition: .2s;

            &:hover {
                color: $greenMedium;
                font-weight: bold;
                margin-left: .5rem
            }
        }
    }
}

.colors-list {
    @include flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;

    .color-item {
        flex-basis: 50%;
        margin-top: 2.5rem;

        @include lg {
            flex-basis: 33.33%
        }

        button {
            @include flex(row, flex-start);
            padding: 0;
            background-color: $white;
            border: none;
            outline: none;
        }

        span {
            font-size: 1.2rem;
            font-family: $font3;
            color: $gray2;
        }

        .color {
            border-radius: 50%;
            height: 2.5rem;
            margin-right: 1rem;
            width: 2.5rem;

            &.green-color {
                background-color: $greenRegular;
            }

            &.orange-color {
                background-color: $orange;
            }
            &.purple-color {
                background-color: $purple;
            }
            &.blue-color {
                background-color: $blue;
            }
            &.yellow-color {
                background-color: $yellowMedium;
            }
            &.pink-color {
                background-color: $pink;
            }
        }
    }
}