@font-face {
  font-family: "GulyesaScript";
  src: url("../assets/fonts/HLT GulyesaScript.ttf") format("truetype"); /* Safari, Android, iOS */
}

body {
  font-family: $font1;
}

.bg-red {
  background-color: $redMedium !important;
}

.main-content {
  max-width: 117rem;
  padding: 0 1.5rem;
  margin: 0 auto;

  @include lg {
    max-width: 72rem;
  }

  @include md {
    max-width: 54rem;
  }
}

.green-button {
  @include flex;
  border-radius: 2rem;
  background-color: $greenMedium;
  border: 1px solid $greenMedium;
  color: $white;
  font-size: 1.3rem;
  padding: 1.2rem 3rem;
  text-transform: uppercase;
  line-height: 1;
  transition: 0.3s;

  &--small {
    padding: 0.8rem 2.6rem;
  }

  &--large {
    padding: 1.5rem 4rem;
    border-radius: 3rem;
    font-size: 1.3rem;
  }

  &--outline {
    background-color: $white;
    color: $greenMedium;
  }

  &:hover {
    background-color: $greenBold;
    color: $white;
  }
}

.section-title {
  @include flex($justifyContent: space-between);
  border-bottom: 0.1rem solid #e1e1e1;

  .section-title__text {
    color: $greenBold;
    display: inline-block;
    font-family: $font2;
    font-size: 1.6rem;
    position: relative;
    padding: 1.5rem 0;
    margin: 0;

    &::after {
      content: "";
      position: absolute;
      bottom: -0.2rem;
      width: 100%;
      height: 0.3rem;
      background-color: $greenMedium;
      left: 0;
    }
  }

  .slide-pagination {
    @include flex;
    a {
      @include flex;
      border-radius: 50%;
      border: 1px solid #e1e1e1;
      color: $gray2;
      font-size: 1.2rem;
      height: 2.5rem;
      margin-left: 0.5rem;
      width: 2.5rem;
      &:hover {
        background-color: $gray10;
      }
    }
  }
}

.product-name {
  margin-bottom: 1rem;
  text-align: center;

  a {
    font-size: 1.6rem;
    color: $gray4;
    font-weight: 400;
  }
}

.product-star-list {
  @include flex;
  margin-bottom: 1rem;

  .product-star-item {
    margin: 0 0.2rem;
    i {
      font-size: 1.4rem;
      color: $yellowBold;

      @include sm {
        font-size: 1.2rem;
      }
    }
  }
}

.product-description {
  color: $gray5;
  font-size: 1.2rem;
  font-family: $font3;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  margin-bottom: 2rem;

  @include sm {
    margin-bottom: 1.5rem;
  }
}

.product-price {
  @include flex;
  flex-wrap: wrap;
  line-height: 1;

  &--new {
    font-size: 1.8rem;
    color: $redBold;
    margin: 0 0.5rem;

    @include sm {
      font-size: 1.6rem;
    }
  }

  &--old {
    font-size: 1.4rem;
    color: $gray9;
    text-decoration: line-through;
    margin: 0 0.5rem;
  }
}

.product-feature {
  display: none;
  margin-top: 2rem;

  @include sm {
    margin-top: 1rem;

    a {
      padding: 1.5rem 2rem;
    }
  }
}

.product-item {
  border: 1px solid $gray10;
  background-color: $white;
  transition: all 1s;

  @include flex(column, flex-start, center);

  &__top {
    position: relative;
    overflow: hidden;
    width: 100%;
    flex-grow: 1;
    transition: all 1s;

    .product-image {
      width: 100%;
      height: 100%;
      position: absolute;
      transform: scale(1.2);
      object-fit: cover;
      bottom: 1rem;
      transition: all 1s;
    }

    .product-thumbnail {
      position: absolute;
      @include flex;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;

      a {
        margin: 0 0.6rem;
        @include sm {
          margin: 0.5rem 0.6rem;
        }
      }

      @include sm {
        flex-direction: column;
      }
    }

    &:hover .product-thumbnail {
      opacity: 1;
      visibility: visible;
    }

    .product-note {
      position: absolute;
      width: 6rem;
      height: 6rem;
      background-color: $greenMedium;
      @include flex;
      color: $white;
      font-size: 1.4rem;
      border-radius: 50%;
      top: 2.5rem;
      left: 2.5rem;

      @include sm {
        display: none;
      }
    }
  }

  &__bottom {
    @include flex(column);
    padding: 2.5rem 0;
    transition: all 1s;

    @include sm {
      padding: 2rem 0;
    }
  }
}

.orther-feature {
  @include flex;

  @include sm {
    margin-bottom: 1rem;
  }

  a {
    @include flex;
    background-color: $white;
    border: 1px solid $gray11;
    border-radius: 50%;
    color: $blackMedium;
    font-size: 1.2rem;
    height: 4.4rem;
    margin-left: 1rem;
    transition: 0.3s;
    width: 4.4rem;

    @include sm {
      margin-left: 0;
      margin-right: 1rem;
    }

    &:hover {
      background-color: $greenMedium;
      color: #fff;
      border-color: $greenMedium;
    }
  }
}

.breadcrumb {
  margin-top: 2rem;

  &-list {
    @include flex;

    .breadcrumb-item {
      a,
      span {
        color: $gray2;
        font-size: 1.2rem;
        font-family: $font3;
      }

      &:last-child span {
        color: $greenMedium;
        cursor: default;
      }

      &::before {
        float: none;
      }
    }
  }
}
